#myVideo {
	object-fit: cover;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
  }

  

.mask-container 
{
	position: relative;
	background: url('images/kawaii.webp') center/cover no-repeat;
	width: 500px;
	height: 300px;
}
  
  .blend-layer {

	isolation: isolate;
	width: 100%;
	height: 100%;
  }
  
  .mask-image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index:1
}

.blend-text {
	position: relative;
	color:#fff;
	z-index:2;
	mix-blend-mode: screen; /* this blends the text with the image */
  }

  main {
  position: relative;
  padding: 50px 50px 0px 50px;
}